@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: white; /* Белый */
    color: #333333; /* Темный текст */
    line-height: 1.6;
}

header {
    background: orange; /* Синий */
    color: white;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff7f00; /* Оранжевый */
}

main {
    padding: 2rem;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.slide {
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    border-radius: 8px;
}

.active {
    display: block;
    opacity: 1;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

button:focus {
    outline: none;
}

.service, .advantage, .testimonial, .gallery-item {
    margin: 2rem 0;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0073e6; /* Синий */
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 1.5rem;
    position: relative;
    bottom: 0;
    width: 110%;
}
